<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather App History</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>
        body {
            background-color: {{ bg_color }};
        }
    </style>
</head>
<body>
    <h1>History</h1>
    <ul>
        {% for filename in file_names %}
            <li><a href="{{ url_for('download_file', filename=filename) }}">{{ filename }}</a></li>
        {% endfor %}
    </ul>
</body>
</html>
